*, * > *{
  box-sizing: border-box;
  }
  * {
		&::-webkit-scrollbar {
			width: 0;
		}
		scrollbar-width: none;
}

  a {
    color: inherit;
    text-decoration: inherit;
  }

  button{
    &:not([disabled]){
      cursor: pointer;
    }
  }

  img{
    max-width: 100%;
  }

  .svg{
    width: 100%;
  }