html {
  font-size: 16px;
}

body {
  font-family: var(--font-family--base);
  font-size: 1.25rem;
  background: var(--primary-background-color);
  color: var(--primary-text-color);
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}
#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.section {
  width: 100%;
  min-width: 100%;
  overflow: hidden;
  position: relative;
}

.container {
  width: 100%;
  max-width: 84.625rem;
  margin: 0 auto;
  padding: 0 2rem;
  position: relative;
  z-index: 1;

  @media screen and (max-width: 991px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  @media screen and (max-width: 767px) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}


