:root {
  --font-family--base: "Oswald", "Arial", "Helvetica", sans-serif; 

  --transition-duration: 0.5s;
  --transition-timing-function: ease;
  --transition-default: all var(--transition-duration) var(--transition-timing-function);

  --palette-1--tone-1000: #000000; 
  --palette-1--tone-900: #131415; 
  --palette-1--tone-800: #27292A; 
  --palette-1--tone-700: #3A3D3E; 
  --palette-1--tone-600: #45484A;   
  --palette-1--tone-500: #595C5D;   
  --palette-1--tone-400: #969A9C;   
  --palette-1--tone-300: #aaa;   
  --palette-1--tone-200: #eee;   
  --palette-1--tone-100: #fff;   

  --palette-2--tone-200: #ac0000;
  --palette-2--tone-100: #ffa5a5;

  --primary-background-color: var(--palette-1--tone-200);
  --primary-text-color: var(--palette-1--tone-900);
} 

